.fbk-cw-group-link {
   .wysiwyg {
      margin-bottom: 2.4rem;

      @media #{$large} {
         margin-bottom: 2.8rem;
      }
   }

   .link-list {
      .card {
         @media #{$large} {
            min-height: 15.4rem;
            height: 100%;
         }

         &.card-secondary {
            grid-template-rows: auto 2fr auto;
         }

         &.no-href {
            opacity: 0.32;
            cursor: not-allowed;
         }
      }
      .link-card__url {
         align-self: end;
         font-size: 1.4rem;
      }
   }
}
