.fbk-cw-group-card {
   .wysiwyg {
      margin-bottom: 2.4rem;

      @media #{$large} {
         margin-bottom: 2.8rem;
      }
   }

   .card.card-primary:not([href]) {
      pointer-events: none;
   }

   .card.card-primary p.excerpt {
      display: block;
   }
}
