.fbk-cw-heading {
   h2,
   h3,
   h4 {
      margin-top: 4.8rem;
      margin-bottom: 1.8rem;
   }

   h2 {
      .icon-wrapper {
         vertical-align: middle;
         display: inline-flex;
         margin-bottom: 5px;
         margin-right: 0.5rem;

         svg {
            max-width: 2rem;

            @media #{$xsmall} {
               max-width: 2.4rem;
            }
         }
      }

      &:target {
         color: $color-primary;
      }
   }
}
