.fbk-cw-img {
   margin-top: 1.6rem;
   margin-bottom: 2.4rem;

   figure {
      img {
         display: block;
         max-height: 80vh;
      }

      figcaption {
         margin-top: 0.8rem;
         font-size: 1.4rem;
         line-height: 160%;
         color: $color-txt-secondary;
         max-width: $width-limiter;
      }
   }
}
