$child-card-padding: 1.6rem;
$child-card-padding-md: 2.4rem;
$child-card-padding-xl: 3.2rem;

.fbk-cw-doc-I {
   .col-child-card {
      margin-bottom: 1.5rem;

      flex-basis: 100%;

      @media #{$large} {
         flex-basis: 50%;
      }

      &:last-of-type:nth-child(odd) {
         flex-basis: 100%;
      }

      .child-card-wrapper {
         background-color: $color-white;
         min-width: 100%;
         min-height: 100%;
         padding-bottom: 0.4rem;
      }

      .child-card {
         display: inline-block;
         width: 100%;
         height: 100%;
         text-decoration: none;
         margin-bottom: $child-card-padding;

         @media #{$medium} {
            margin-bottom: $child-card-padding-md;
         }
         @media #{$xlarge} {
            margin-bottom: $child-card-padding-xl;
         }

         &:hover {
            .head,
            .child-card-post {
               opacity: 0.4;
            }
         }

         .head {
            display: flex;
            justify-content: space-between;
            padding-inline: $child-card-padding;
            padding-top: $child-card-padding;
            margin-bottom: 3.2rem;
            transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

            h3 {
               transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
            }

            @media #{$medium} {
               padding-top: $child-card-padding-md;
               padding-inline: $child-card-padding-md;
            }
            @media #{$xlarge} {
               padding-top: $child-card-padding-xl;
               padding-inline: $child-card-padding-xl;
            }

            .svg-wrapper {
               svg {
                  display: inline-block;
                  width: 2rem;
                  height: 2rem;
               }
            }
         }
         .head[href]:hover {
            opacity: 1;

            h3 {
               color: $color-dark-primary;
            }

            svg path {
               fill: $color-primary;
            }
         }

         .content {
            .child-card-post {
               display: inline-block;
               min-width: 100%;
               padding-inline: $child-card-padding;
               margin-bottom: 1.6rem;
               transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

               @media #{$medium} {
                  padding-inline: $child-card-padding-md;
               }
               @media #{$xlarge} {
                  padding-inline: $child-card-padding-xl;
               }

               &:last-child {
                  margin-bottom: 0;
               }

               span {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding-block: 0.8rem;
                  border-bottom: 1px solid $color-gray;
                  // transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

                  h4 {
                     font-weight: 400;
                     font-size: 1.5rem;
                     line-height: 180%;
                     color: $color-txt-secondary;
                     max-width: 90%;

                     @media #{$large} {
                        font-size: 1.6rem;
                     }
                  }

                  svg {
                     display: inline-block;
                     min-width: 1.3rem;
                     min-height: 1.3rem;
                  }
               }

               &:hover {
                  opacity: 1;
                  background-color: $color-light-primary;

                  span {
                     border-color: rgba($color-gray, 0);

                     h4 {
                        color: $color-dark-primary;
                     }

                     svg path {
                        fill: $color-primary;
                     }
                  }
               }
            }
         }
      }
   }

   .card {
      @media #{$large} {
         min-height: 15.4rem;
         height: 100%;
      }

      &.card-secondary {
         grid-template-rows: auto 2fr auto;
      }
   }
}
