.fbk-cw-btn {
   margin-top: 1.2rem;
   margin-bottom: 3.2rem;

   .btns-wrapper {
      display: flex;
      gap: 1.4rem;
      flex-wrap: wrap;

      @media #{$medium} {
         gap: 2.4rem;
      }
   }
}
