footer {
   background-color: $color-primary;
   height: 100%;
   padding: 5.6rem 0 4rem;

   @media #{$medium} {
      padding-top: 8rem;
   }

   .footer-menu-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;
      margin-bottom: 4.8rem;

      a {
         line-height: 150%;
         text-decoration: none;

         @media #{$xsmall} {
            max-width: 80%;
         }

         &.footer-parent {
            color: $color-white;
            font-size: 1.8rem;
            font-weight: 500;
         }
         &.footer-child {
            color: rgba($color-white, 0.88);
            font-size: 1.4rem;
         }

         &:hover {
            color: $color-white;
            text-decoration: underline;
         }
      }
      /*🔥*/
   }

   .footer-info {
      .footer-logo {
         margin-bottom: 3.2rem;
         white-space: nowrap;

         @media #{$medium} {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            min-height: 100%;
         }

         p {
            display: inline;
            font-size: 1.2rem;
            margin-left: 1.2rem;
            color: rgba($color-white, 0.88);
            letter-spacing: 1px;
         }
      }

      .social-icons {
         a {
            display: inline-block;
            text-decoration: none;
            margin-right: 0.8rem;

            &:hover {
               opacity: 0.72;
            }
         }
      }

      .lingua {
         margin-left: auto;

         .wpml-custom-switcher {
            text-align: right;

            li {
               display: none;

               &.wpml-ls-current-language {
                  display: inline-block;
               }

               a {
                  color: $color-white;
                  font-size: 1.4rem;
                  letter-spacing: 2px;
                  line-height: 1;
                  padding: 0.6rem 1.6rem;

                  &:hover {
                     background-color: $color-white;
                     color: $color-primary;
                  }
               }
            }
         }
         p {
            color: rgba($color-white, 0.88);
         }
      }
   }
}
