.header__nav {
   background-color: $color-primary;
   padding-block: 1.2rem;

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 990;

   background-color: lightgoldenrodyellow;

   .header__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: relative;

      background-color: lightseagreen;

      &__nav {
         background-color: lightgreen;
         display: flex;
         gap: 2vw;

         .menu-item-wrapper {
            // background-color: lightcyan;

            flex-shrink: 0;

            // position: relative;

            .header-parent {
               background-color: gray;

               color: $color-white;
               font-size: 1.6rem;
               text-transform: uppercase;
               text-decoration: none;
               display: inline-block;
               padding-inline: 0.4rem;
            }

            .drop-down {
               background-color: $color-white;
               box-shadow: -50vw 0 $color-white, 50vw 0 $color-white;

               position: absolute;
               left: 0;
               right: 0;
               bottom: 0;
               transform: translateY(100%);
               margin-top: 1.2rem;

               opacity: 0;
               pointer-events: none;
               transition: opacity 0.4s ease-in-out;

               &.show {
                  opacity: 1;
               }

               &__content {
                  display: flex;
                  gap: 4vw;

                  .child-menu-item-wrapper {
                     // background-color: lightseagreen;

                     display: flex;
                     flex-direction: column;
                  }
               }
            }
         }
      }
   }
}
