.post-password-form {
  max-width: 540px;
  margin: auto;

  p {
    margin: 1rem 0;
  }
  label {
    margin-right: 1rem;

    input {
      background: $color-light-primary;
      border: 1px solid $color-primary;
      border-radius: 0;
      padding: 1rem 1.6rem 1rem 2.4rem;
      margin: 1rem 0;
    }
  }
  input {
    display: inline-block;
    border: none;
    border-radius: 0;
    text-decoration: none;
    padding: 1.2rem 1.4rem 1.2rem 1.8rem;
    margin: 1rem;
    line-height: 1;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

    background-color: $color-primary;
    color: $color-white;

    &:hover,
    :active,
    :focus {
      background-color: $color-light-primary;
      color: $color-primary;
    }

    @media #{$large} {
      padding: 1.2rem 1.6rem 1.2rem 2.4rem;
    }

    @media #{$medium} {
      margin-top: 0;
    }
  }
  @media #{$medium} {
    max-width: 720px;
  }
  @media #{$large} {
    max-width: 960px;
  }
  @media #{$xlarge} {
    max-width: 1140px;
  }
  @media #{$xxlarge} {
    max-width: 1320px;
  }
}
