.single-sub-hero {
   background-color: $color-white;
   padding-block: 24vh;

   h1 {
      color: $color-txt-primary;
      max-width: 80rem;
      margin-bottom: 2.4rem;
   }

   .single-sub-hero__cf {
      display: flex;
      gap: 3.2rem;

      div {
         display: flex;
         gap: 1.2rem;
      }
   }
}
