.single-sub-hero {
   background-color: $color-white;
   transition: $dark-bg-transition;

   padding-top: 13rem;
   padding-bottom: 0;
   @media #{$medium} {
      padding-top: 16rem;
      padding-bottom: 1.6rem;
   }

   h1 {
      color: $color-txt-primary;
      // max-width: $width-limiter;
      margin-bottom: 2.8rem;
   }

   .single-sub-hero__cf {
      display: flex;
      gap: 2rem;
      flex-direction: column;

      @media #{$medium} {
         gap: 3.2rem;
         flex-direction: row;
      }

      @media #{$xxlarge} {
         gap: 4.4rem;
      }

      div {
         display: flex;
         gap: 1.2rem;

         svg {
            opacity: 0.5;
         }

         p {
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 1;
            white-space: nowrap;
            align-self: flex-end;
         }
      }
   }
}
