.sub-hero {
   background-color: $color-primary;
   transition: $dark-bg-transition;

   padding-top: 13rem;
   padding-bottom: 8rem;
   @media #{$medium} {
      padding-top: 15rem;
      // padding-bottom: 10rem;
   }

   .breadcrumps {
      display: inline-block;
      color: $color-txt-white-primary;
      margin-bottom: 1.6rem;

      @media #{$medium} {
         margin-bottom: 3.2rem;
      }
   }

   h1 {
      color: $color-txt-white-primary;
      max-width: $width-limiter;
      margin-bottom: 2.4rem;
   }

   p {
      color: $color-txt-white-secondary;
      max-width: $width-limiter;
   }
}

.page-child {
   .sub-hero {
      background-color: $color-white;
      transition: $dark-bg-transition;
   }

   .breadcrumps {
      color: $color-primary;
   }

   h1 {
      color: $color-txt-primary;
   }

   p {
      color: $color-txt-secondary;
   }
}
