$color-primary: #1254a2;
$color-dark-primary: #2e4083;
$color-light-primary: #e1eaf6;

$color-fede: #edeeef;

$color-white: #fff;
$color-black: #161b22;
$color-gray: #e3e2e2;
$color-accent: #c21966;

$color-txt-primary: #323130;
$color-txt-secondary: #605e5c;

$color-txt-white-primary: $color-white;
$color-txt-white-secondary: #e2eaf4;
