$color-primary: #1254A2;
$color-dark-primary: #2E4083;
$color-light-primary: #E1EAF6;

$color-fede: #EDEEEF;

$color-white: #FFF;
$color-black: #161B22;
$color-accent: #C21966; 

$color-txt-primary: #323130;
$color-txt-secondary: #605E5C;

$color-txt-white-primary: $color-white;
$color-txt-white-secondary: #E2EAF4;

