$color-primary: #1254A2;

$color-white: #FFF;
$color-black: #161B22; 
$color-accent: #C21966; 

$color-txt-primary: #323130;
$color-txt-secondary: #605E5C;

$color-txt-white-primary: $color-white;
$color-txt-white-secondary: rgba($color-txt-white-primary, 0.88);

