.mb-section {
   //viene ridotto nelle single comunicazioni e doc
   margin-bottom: 5.6rem;

   @media #{$large} {
      margin-bottom: 9.6rem;
   }
}

$width-limiter: 80rem;

// Container for Default Elementor Widget
.elementor-widget-image,
.elementor-widget-heading,
.elementor-widget-text-editor,
.elementor-widget-video,
.elementor-widget-divider,
.elementor-widget-google_maps,
.elementor-widget-image-box,
.elementor-widget-icon-list,
.elementor-widget-counter,
.elementor-widget-progress,
.elementor-widget-testimonial,
.elementor-widget-tabs,
.elementor-widget-accordion,
.elementor-widget-toggle,
.elementor-widget-gallery,
.elementor-widget-posts,
.elementor-widget-loop-grid,
.elementor-widget-loop-carousel,
.elementor-widget-portfolio,
.elementor-widget-form,
.elementor-widget-login,
.elementor-widget-media-carousel,
.elementor-widget-testimonial-carousel,
.elementor-widget-nav-menu,
.elementor-widget-pricing,
.elementor-widget-animated-headline,
.elementor-widget-price-list,
.elementor-widget-price-table,
.elementor-widget-facebook-comment,
.elementor-widget-facebook-comments,
.elementor-widget-facebook-embed,
.elementor-widget-facebook-page,
.elementor-widget-add-to-cart,
.elementor-widget-categories,
.elementor-widget-elements,
.elementor-widget-products,
.elementor-widget-flip-box,
.elementor-widget-carousel,
.elementor-widget-countdown,
.elementor-widget-share-buttons,
.elementor-widget-author-box,
.elementor-widget-breadcrumbs,
.elementor-widget-search-form,
.elementor-widget-post-navigation,
.elementor-widget-post-comments,
.elementor-widget-theme-elements,
.elementor-widget-blockquote,
.elementor-widget-template,
.elementor-widget-wp-widget-audio,
.elementor-widget-woocommerce,
.elementor-widget-social,
.elementor-widget-library,
.elementor-widget-slides,
.elementor-widget-hotspot,
.elementor-widget-reviews,
.elementor-widget-table-of-contents,
.elementor-widget-call-to-action,
.elementor-widget-code-highlight,
.elementor-widget-video-playlist,
.elementor-widget-paypal-button,
.elementor-widget-stripe-button,
.elementor-widget-progress-tracker,
.elementor-widget-wpml-language-switcher {
   padding-inline: 7.5px;
   margin-inline: auto;
   width: 100%;
   @media #{$xsmall} {
      max-width: 540px;
   }
   @media #{$medium} {
      max-width: 720px;
   }
   @media #{$large} {
      max-width: 960px;
   }
   @media #{$xlarge} {
      max-width: 1140px;
   }
   @media (min-width: 1400px) {
      max-width: 1320px;
   }
}
